*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
}

#header{
    height: 15%;
    background: #a4a4a4;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

#nav{
    height: 10%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

#contenido{
    height: 53%;
    margin: 1em;
}

#footer{
    height: 15%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

#section{
    height: 95%;
    width: 72%;
    background: #a4a4a4;
    border-radius: 1em;
    float: left;
    margin: 0.5em;
    text-align: center;
    
}

#aside{
    height: 95%;
    width: 25%;
    background: #a4a4a4;
    border-radius: 1em;
    float: right;
    margin: 0.5em;
    text-align: center;
}

.articulo{
    width: 96%;
    height: 20%;
    background: #424242;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}